<p>Añadir Comentario:</p>
<form method="post" id="nuevoComentario" action="/quizes/<%=quizid%>/comments/">
	<input type="text" id="comment" name="comment[texto]" value="" autofous />
	<button type="submit">Enviar</button>
</form>