<div class="creditos">

		<header class="h2">
			<div class="contFoto">
				<img id="foto" src="../images/foto.png" alt="Foto">
			</div>

			<h3 class="subtitulo">Proyecto realizado por:</h3>
		</header>

		<p>Julián Iniesta, alumno del curso "Desarrollo de servicios en la nube con HTML5, Javascript y node.js" impartido por <a href="https://www.miriadax.net/">Miriada X</a>.</p>

		<div class="video">
			<h3 class="subtitulo">Video de presentación del curso:</h3>
			<iframe class="video" src=https://www.youtube.com/embed/8I5VpIlwr54 allowfullscreen>
		</div>
				
</div>
