* 								{ margin: 0; padding: 0; }

body 							{ font: 16px "Lucida Grande", Helvetica, Arial, sans-serif; }

#page-wrap						{ margin: 2% auto; color: white; }

#page-wrap	> .main 			{ border: 1px solid #999; padding: 1%; margin-bottom: 1px; color: black; }

section > div 					{ padding: 20px; }

header, nav, section, footer 	{ background: #eee; text-align: center; }

nav span, footer span		 	{ margin: 0px 10px 0px 0px; }

a 								{ color: #00B7FF; text-decoration: none; }

a:hover							{ color:orangered; text-decoration: underline; }
	

#foto {
	margin: 0px 0px 15px 15px;
	padding: 10px;
	background-color: grey;
	border-radius: 5px;
	box-shadow: 0 0 5px steelblue;
	float: right;
}

.creditos { text-align: justify; }

.subtitulo { color: coral; 
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: justify; 
}

.video {display: block;}	  

#nuevaPregunta label, #editaPregunta label {
	display: inline-block;
	text-align: right;
	width: 80px;
}

nav span {
	margin: 0px 10px 0px 0px;
}

#ErrorMsgs {
	color: #f61;
	font-style: smaler;
}

.right {
	float: right;
	text-align: right;
}

header form, #publicarComentario { display: inline; }

.login, .logout {
    background:none;
    border:none; 
    padding:0;
    cursor:pointer;
    color: #00B7FF;
    font-size: 1em;
}

.login:hover, .logout:hover { 
	color:orangered; 
	text-decoration: underline; 
}

.stTexto{
	text-align: left;
}

.stValor{
	text-align: right;
}