<p>
	<label for="preg" class="rem">Pregunta:</label>
	<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>" onfocus="this.select()" />
</p>
<p>
	<label for="resp" class="rem">Respuesta:</label>
	<input type="text" id="preg" name="quiz[respuesta]" value="<%= quiz.respuesta %>" onfocus="this.select()" />
</p>
<p>
	<label for="resp" class="rem">Tema:</label>
	<select name="quiz[tema]" id="seleccionTema">
		<% 
			var opciones = [
		 		{valor: "otro", texto: "Otro"},
		 		{valor: "humanidades", texto: "Humanidades"},
		 		{valor: "ocio", texto: "Ocio"},
		 		{valor: "ciencia", texto: "Ciencia"},
		 		{valor: "tecnologia", texto: "Tecnología"}]

		 	for (var i in opciones) {
		 		%><option value="<%=opciones[i].valor%>" <% if (opciones[i].valor === quiz.tema) { %> selected <% }; %>><%=opciones[i].texto%></option>
		 	<% } %>
		%>
	</select>
</p>

<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">
