<form class="buscador" method="get" action="/quizes">
	<p><label for="buscar" class="rem">Buscar preguntas con el siguiente contenido:</label></p>
	<input type="text" name="search"/>
	<input type="submit" value="Buscar"/>
</form>
<table>
	<th colspan="2">Lista de Preguntas</th>
	<% for (var i = 0; i <quizes.length; i++) { %>
		<tr>
			<td>
				<a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
			</td>
			<td>
				<a href="/quizes/<%= quizes[i].id %>/edit">
					<button>Editar</button>
				</a>
			</td>
		</tr>
	<% } %>
</table>
<a href="/quizes/new"><button type="button">Crear Pregunta</button></a>
	