<form class="buscador" method="get" action="/quizes">
	<p>Buscar preguntas con el siguiente contenido:</p>
	<input type="text" name="search"/>
	<input type="submit" value="Buscar"/>
</form>
<table>
	<th>Lista de Preguntas</th>
	<% for (var i = 0; i <quizes.length; i++) { %>
		<tr>
			<td>
				<a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
			</td>
		</tr>
	<% } %>
</table>
	