<h2>Login</h2>
<form method="post" id="loginForm" action="/login">
	<div class="field"> 
		<p><label for="login">Login:</label></p>
		<input type="text" id="login" name="login" size="30" autofocus />
	</div>
	<div class="field"> 
		<p><label for="password">Password:</label></p>
		<input type="text" id="password" name="password" size="30" autofocus />
	</div>
	<div class="actions">
		<button type="submit" name="commit">Login</button>
	</div>
</form>